[Unit]
Description=Activepieces PoC with PGLite and Secrets
After=network-online.target


[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target

[Container]
Image=docker.io/activepieces/activepieces:latest

ContainerName=activepieces
# Mount the Podman Secrets
Secret=activepieces_encryption_key
Secret=activepieces_jwt_secret

Network=internal
PublishPort=10.99.0.9:8483:80  

# Core Configuration
Environment=AP_DB_TYPE=PGLITE
Environment=AP_REDIS_TYPE=MEMORY

Environment=AP_FRONTEND_URL=https://activepieces.prod3.cktom.cyou
Environment=AP_WEBHOOK_URL=https://activepieces-fd0d5f01-95e4-4b82-9dc1-7b9d472a5411.webhooks.prod3.cktom.cyou

# Direct Activepieces to read from the mounted secret files
Environment=AP_ENCRYPTION_KEY_FILE=/run/secrets/activepieces_encryption_key
Environment=AP_JWT_SECRET_FILE=/run/secrets/activepieces_jwt_secret

Volume=activepieces_data:/root/.activepieces

Label=traefik.enable=true
Label=traefik.http.routers.activepieces.rule=Host(`activepieces.prod3.cktom.cyou`)
Label=traefik.http.routers.activepieces.entrypoints=entryPoint443
Label=traefik.http.routers.activepieces.tls=true
Label=traefik.http.routers.activepieces.tls.domains[0].main=prod3.cktom.cyou
Label=traefik.http.routers.activepieces.tls.domains[0].sans=*.prod3.cktom.cyou
Label=traefik.http.routers.activepieces.service=activepieces
Label=traefik.http.services.activepieces.loadbalancer.server.port=80
Pod=services.pod
