[Unit]
Description=Docker socket proxy container

[Service]
Restart=on-abnormal
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
ContainerName=docker-socket-proxy
Image=ghcr.io/tecnativa/docker-socket-proxy:latest
AutoUpdate=registry
Pull=newer	
Network=internal.network
#PublishPort=2375:2375    
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true
Environment=DOCKER_SOCKET=unix:///var/run/docker.sock
Environment=CONTAINERS=1
Environment=IMAGES=1
Environment=INFO=1
Environment=NETWORKS=1
Pod=services.pod
