[Unit]
Description=Netdata Container Quadlet

[Service]
Restart=on-abnormal
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
ContainerName=netdata
Image=docker.io/netdata/netdata:stable
AutoUpdate=registry
Pull=newer	

Network=internal
PublishPort=19999:19999
PublishPort=20000:20000

HostName=prod3.sf.cktom.cyou

AddCapability=SYS_PTRACE
AddCapability=SYS_ADMIN
#SecurityLabelDisable=true
PodmanArgs=--pid=host

Volume=/etc/netdata:/etc/netdata:Z
Volume=netdatalib:/var/lib/netdata
Volume=netdatacache:/var/cache/netdata
Volume=/etc/passwd:/host/etc/passwd:ro
Volume=/etc/group:/host/etc/group:ro
Volume=/etc/localtime:/etc/localtime:ro
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro
Volume=/etc/os-release:/host/etc/os-release:ro
Volume=/var/log:/host/var/log:ro
Volume=/run/dbus:/run/dbus:ro

Secret=NETDATA_CLAIM_TOKEN,type=env,target=NETDATA_CLAIM_TOKEN
Environment=NETDATA_CLAIM_URL=https://app.netdata.cloud
Environment=NETDATA_EXTRA_DEB_PACKAGE=lm-sensors
Environment=DOCKER_SOCK=tcp://docker-socket-proxy:2375

#Add labels for traefik
Label=traefik.enable=true
Label=traefik.http.routers.netdatarouter.entrypoints=entryPoint443
Label=traefik.http.routers.netdatarouter.rule=Host(`netdata.prod3.cktom.cyou`)
Label=traefik.http.routers.netdatarouter.tls=true
Label=traefik.http.routers.netdatarouter.tls.domains[0].main=prod3.cktom.cyou
Label=traefik.http.routers.netdatarouter.tls.domains[0].sans=*.prod3.cktom.cyou
Label=traefik.http.routers.netdatarouter.service=netdataservice
Label=traefik.http.services.netdataservice.loadbalancer.server.port=19999

Label=traefik.tcp.routers.parentrouter.entrypoints=entryPoint443
Label=traefik.tcp.routers.parentrouter.rule=HostSNI(`parent.prod3.cktom.cyou`)
Label=traefik.tcp.routers.parentrouter.tls=true
Label=traefik.tcp.routers.parentrouter.tls.domains[0].main=prod3.cktom.cyou
Label=traefik.tcp.routers.parentrouter.tls.domains[0].sans=*.prod3.cktom.cyou
Label=traefik.tcp.routers.parentrouter.service=parentservice
Label=traefik.tcp.services.parentservice.loadbalancer.server.port=19999

Pod=services.pod
