#/usr/share/containers/systemd/semaphore.container
[Unit]
Description=Semaphore UI Container (SQLite)
After=network-online.target

#
[Install]
WantedBy=multi-user.target

[Container]
ContainerName=semaphore
Image=docker.io/semaphoreui/semaphore:latest

Secret=SEMAPHORE_ADMIN_PASSWORD
# 1. Database Configuration
Environment=SEMAPHORE_DB_DIALECT=sqlite
Environment=SEMAPHORE_DB=/etc/semaphore/semaphore.sqlite
#
# # 2. Initial Setup Credentials
Environment=SEMAPHORE_ADMIN=admin
Environment=SEMAPHORE_ADMIN_PASSWORD_FILE=/run/secrets/SEMAPHORE_ADMIN_PASSWORD
Environment=SEMAPHORE_ADMIN_NAME=Admin
Environment=SEMAPHORE_ADMIN_EMAIL=admin@cktom.cyou

#
# # 3. Persistent Storage
Volume=semaphore-data:/etc/semaphore
Volume=semaphore:/var/lib/semaphore
#
# # 4. Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.semaphore.rule=Host(`semaphore.prod3.cktom.cyou`)"
Label="traefik.http.routers.semaphore.entrypoints=entryPoint443"
Label="traefik.http.routers.semaphore.tls=true"
Label="traefik.http.services.semaphore.loadbalancer.server.port=3000"
Pod=services.pod
#
# # 5. Networking
Network=internal.network
