#/etc/containers/systemd/stash.container
[Unit]
Description=Stash Container Quadlet

[Service]
Restart=on-abnormal
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
ContainerName=stash
Image=docker.io/stashapp/stash:latest
AutoUpdate=registry
Pull=newer	

Network=internal.network
#PublishPort=9999:9999

Volume=/mnt/stash-data:/data:Z
Volume=/mnt/prod3/stash/blobs:/blobs:Z
Volume=/mnt/prod3/stash/config:/root/.stash:Z
Volume=/mnt/prod3/stash/metadata:/metadata:Z
Volume=/mnt/prod3/stash/cache:/cache:Z
Volume=/mnt/prod3/stash/generated:/generated:Z

Environment=STASH_STASH=/data/
Environment=STASH_GENERATED=/generated/
Environment=STASH_METADATA=/metadata/
Environment=STASH_CACHE=/cache/
Environment=STASH_PORT=9999


#Add labels for traefik
Label="traefik.enable=true"
Label="traefik.http.routers.stash-router.entrypoints=entryPoint443"
Label="traefik.http.routers.stash-router.rule=Host(`stash.prod3.cktom.cyou`)"
Label="traefik.http.routers.stash-router.tls=true"
Label="traefik.http.routers.stash-router.service=stash-service"
Label="traefik.http.services.stash-service.loadbalancer.server.port=9999"

Pod=services.pod
